@import "tailwindcss";

@layer utilities {
  .shadow-wikicap {
    box-shadow: 0 4px 17px rgba(66, 11, 129, 0.68);
  }
}


@layer utilities {
  .timeline-node {
    @apply rounded-full px-4 py-2 text-sm font-medium
           bg-[#420b81ad]
           text-white
           shadow-wikicap
           backdrop-blur
           transition
           hover:scale-105
           hover:bg-[#5b1fa3cc];
  }
}
