@import "tailwindcss/preflight";
@tailwind utilities;



@layer utilities {

    @keyframes slide-in-left {
        0% {
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform-origin: 100% 50%;
            filter: blur(40px);
            opacity: 0;
        }
        100% {
            transform: translateX(0) scaleY(1) scaleX(1);
            transform-origin: 50% 50%;
            filter: blur(0);
            opacity: 1;
        }
    }

.slide-in-left-normal {
  animation: slide-in-left 0.6s cubic-bezier(0.230, 1, 0.320, 1) both;
}

    @keyframes slide-in-right{
        0% {
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform-origin: 0% 50%;
            filter: blur(40px);
            opacity: 0;
        }
        100% {
            transform: translateX(0) scaleY(1) scaleX(1);
            transform-origin: 50% 50%;
            filter: blur(0);
            opacity: 1;
        }
    }
.slide-in-right-normal {
  animation: slide-in-right 0.6s cubic-bezier(0.230, 1, 0.320, 1) both;
}


}